@{
    Layout = null;
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="~/css/user/login.css">

<div class="login-card">
    <div class="burger-deco">
        <i class="fas fa-hamburger"></i>
    </div>
    <div class="fries-deco">
        <i class="fas fa-drumstick-bite"></i>
    </div>
    
    <h1>Xin Chào!</h1>
    <p>Vui lòng đăng nhập vào tài khoản của bạn <i class="fa-solid fa-burger" style = "color: orange"></i></p>

    <form id="loginForm" onsubmit="return false">
        <div class="input-group">
            <input type="text" name="Username" placeholder=" Tên đăng nhập" required>
            <i class="fas fa-user"></i>
        </div>

        <div class="input-group">
            <input type="password" name="Password" placeholder=" Mật khẩu" required>
            <i class="fas fa-lock"></i>
        </div>
        
        <div id="loginError" class="text-danger mt-2" style="display:none;"></div>

        <div class="options">
            <label>
                <input type="checkbox"> Ghi nhớ đăng nhập
            </label>
            <a href="#">Quên mật khẩu?</a>
        </div>

        <button type="submit" class="login-btn">
            <i class="fas fa-sign-in-alt"></i> Đăng Nhập
        </button>
    </form>

    <div class="divider">
        Hoặc đăng nhập với
    </div>

    <div class="social">
        <button>
            <i class="fab fa-facebook"></i>
            Facebook
        </button>
        <button>
            <i class="fab fa-google"></i>
            Google
        </button>
    </div>

    <div class="register">
        Chưa có tài khoản? 
        <a href="#" onclick="openRegister()">Đăng ký ngay</a>
    </div>
</div>