@{
    Layout = null;
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="~/css/user/register.css">

<div class="register-card">
    <div class="burger-deco">
        <i class="fas fa-hamburger"></i>
    </div>
    <div class="soda-deco">
        <i class="fas fa-cocktail"></i>
    </div>
    
    <h1>Tạo tài khoản</h1>
    <p>Đăng ký để sử dụng dịch vụ <i class="fa-solid fa-burger" style ="color: orange"></i></p>

    <form id="registerForm">
        <div class="input-group">
            <input type="text" name="Username" placeholder=" Tên đăng nhập" required>
            <i class="fas fa-user"></i>
        </div>

        <div class="input-group">
            <input type="email" name="Email" placeholder=" Email">
            <i class="fas fa-envelope"></i>
        </div>

        <div class="input-group">
            <input type="password" name="Password" placeholder=" Mật khẩu">
            <i class="fas fa-lock"></i>
        </div>

        <div class="input-group">
            <input type="password" name="ConfirmPassword" placeholder=" Xác nhận mật khẩu" required>
            <i class="fas fa-lock"></i>
        </div>

        <div id="registerError" class="text-danger mt-2" style="display:none;"></div>

        <button type="submit" class="register-btn">
            <i class="fas fa-user-plus"></i> Đăng Ký
        </button>
    </form>

    <div class="divider">
        Hoặc đăng ký với
    </div>

    <div class="social">
        <button>
            <i class="fab fa-facebook"></i>
            Facebook
        </button>
        <button>
            <i class="fab fa-google"></i>
            Google
        </button>
    </div>

    <div class="login">
        Đã có tài khoản? 
        <a href="#" onclick="event.preventDefault(); switchToLogin()">Đăng nhập</a>
    </div>
</div>