@model FastFood.Models.Order

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Order #@Model.Id</h2>

<table>

    <tr>
        <th>Food</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>

    @foreach (var item in Model.OrderDetails)
    {
        <tr>

            <td>@item.Food.FoodName</td>

            <td>@item.Price.ToString("N0") đ</td>

            <td>@item.Quantity</td>

            <td>@(item.Price * item.Quantity) đ</td>

        </tr>
    }

</table>