@model List<FastFood.Models.Contact>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Contacts</h1>

<table>

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Date</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>

            <td>@c.Name</td>

            <td>@c.Email</td>

            <td>@c.Message</td>

            <td>@c.CreatedAt</td>

        </tr>
    }

</table>